.bg_pink, .bg_pink_hover:hover {
  background: $pink;
}

.bg_blue, .bg_blue_hover:hover {
  background: $blue;
}

.bg_green, .bg_green_hover:hover {
  background: $green;
}

.bg_purple, .bg_purple_hover:hover {
  background: $purple;
}

.bg_orange, .bg_orange_hover:hover {
  background: $orange;
}

.bg_yellow, .bg_yellow_hover:hover {
  background: $yellow;
}


// BGS

.bg_white, .bg_white_hover:hover {
  background: $white;
}

.bg_black, .bg_black_hover:hover {
  background: $black;
}

.bg_grey, .bg_grey_hover:hover {
  background: $grey;
}
