// white
// .1vw
.border_01vw_white, .border_01vw_white_hover:hover {
    border: 0.1vw solid $white;
};

.border_left_01vw_white, .border_left_01vw_white_hover:hover {
    border-left: 0.1vw solid $white;
};

.border_right_01vw_white, .border_right_01vw_white_hover:hover {
    border-right: 0.1vw solid $white;
};

.border_top_01vw_white, .border_top_01vw_white_hover:hover {
    border-top: 0.1vw solid $white;
};

.border_bottom_01vw_white, .border_bottom_01vw_white_hover:hover {
    border-bottom: 0.1vw solid $white;
};

// 1vw
.border_1vw_white, .border_1vw_white_hover:hover {
    border: 1vw solid $white;
};

.border_left_1vw_white, .border_left_1vw_white_hover:hover {
    border-left: 1vw solid $white;
};

.border_right_1vw_white, .border_right_1vw_white_hover:hover {
    border-right: 1vw solid $white;
};

.border_top_1vw_white, .border_top_1vw_white_hover:hover {
    border-top: 1vw solid $white;
};

.border_bottom_1vw_white, .border_bottom_1vw_white_hover:hover {
    border-bottom: 1vw solid $white;
};


// black
// .1vw
.border_01vw_black, .border_01vw_black_hover:hover {
    border: 0.1vw solid $black;
};

.border_left_01vw_black, .border_left_01vw_black_hover:hover {
    border-left: 0.1vw solid $black;
};

.border_right_01vw_black, .border_right_01vw_black_hover:hover {
    border-right: 0.1vw solid $black;
};

.border_top_01vw_black, .border_top_01vw_black_hover:hover {
    border-top: 0.1vw solid $black;
};

.border_bottom_01vw_black, .border_bottom_01vw_black_hover:hover {
    border-bottom: 0.1vw solid $black;
};

// 1vw
.border_1vw_black, .border_1vw_black_hover:hover {
    border: 1vw solid $black;
};

.border_left_1vw_black, .border_left_1vw_black_hover:hover {
    border-left: 1vw solid $black;
};

.border_right_1vw_black, .border_right_1vw_black_hover:hover {
    border-right: 1vw solid $black;
};

.border_top_1vw_black, .border_top_1vw_black_hover:hover {
    border-top: 1vw solid $black;
};

.border_bottom_1vw_black, .border_bottom_1vw_black_hover:hover {
    border-bottom: 1vw solid $black;
};

// grey
// .1vw
.border_01vw_grey, .border_01vw_grey_hover:hover {
    border: 0.1vw solid $grey;
};

.border_left_01vw_grey, .border_left_01vw_grey_hover:hover {
    border-left: 0.1vw solid $grey;
};

.border_right_01vw_grey, .border_right_01vw_grey_hover:hover {
    border-right: 0.1vw solid $grey;
};

.border_top_01vw_grey, .border_top_01vw_grey_hover:hover {
    border-top: 0.1vw solid $grey;
};

.border_bottom_01vw_grey, .border_bottom_01vw_grey_hover:hover {
    border-bottom: 0.1vw solid $grey;
};

// 1vw
.border_1vw_grey, .border_1vw_grey_hover:hover {
    border: 1vw solid $grey;
};

.border_left_1vw_grey, .border_left_1vw_grey_hover:hover {
    border-left: 1vw solid $grey;
};

.border_right_1vw_grey, .border_right_1vw_grey_hover:hover {
    border-right: 1vw solid $grey;
};

.border_top_1vw_grey, .border_top_1vw_grey_hover:hover {
    border-top: 1vw solid $grey;
};

.border_bottom_1vw_grey, .border_bottom_1vw_grey_hover:hover {
    border-bottom: 1vw solid $grey;
};







// black
// .1vh
.border_01vh_black, .border_01vh_black_hover:hover {
    border: 0.1vh solid $black;
};

.border_left_01vh_black, .border_left_01vh_black_hover:hover {
    border-left: 0.1vh solid $black;
};

.border_right_01vh_black, .border_right_01vh_black_hover:hover {
    border-right: 0.1vh solid $black;
};

.border_top_01vh_black, .border_top_01vh_black_hover:hover {
    border-top: 0.1vh solid $black;
};

.border_bottom_01vh_black, .border_bottom_01vh_black_hover:hover {
    border-bottom: 0.1vh solid $black;
};

// 1vh
.border_1vh_black, .border_1vh_black_hover:hover {
    border: 1vh solid $black;
};

.border_left_1vh_black, .border_left_1vh_black_hover:hover {
    border-left: 1vh solid $black;
};

.border_right_1vh_black, .border_right_1vh_black_hover:hover {
    border-right: 1vh solid $black;
};

.border_top_1vh_black, .border_top_1vh_black_hover:hover {
    border-top: 1vh solid $black;
};

.border_bottom_1vh_black, .border_bottom_1vh_black_hover:hover {
    border-bottom: 1vh solid $black;
};

// white
// .1vh
.border_01vh_white, .border_01vh_white_hover:hover {
    border: 0.1vh solid $white;
};

.border_left_01vh_white, .border_left_01vh_white_hover:hover {
    border-left: 0.1vh solid $white;
};

.border_right_01vh_white, .border_right_01vh_white_hover:hover {
    border-right: 0.1vh solid $white;
};

.border_top_01vh_white, .border_top_01vh_white_hover:hover {
    border-top: 0.1vh solid $white;
};

.border_bottom_01vh_white, .border_bottom_01vh_white_hover:hover {
    border-bottom: 0.1vh solid $white;
};

// 1vh
.border_1vh_white, .border_1vh_white_hover:hover {
    border: 1vh solid $white;
};

.border_left_1vh_white, .border_left_1vh_white_hover:hover {
    border-left: 1vh solid $white;
};

.border_right_1vh_white, .border_right_1vh_white_hover:hover {
    border-right: 1vh solid $white;
};

.border_top_1vh_white, .border_top_1vh_white_hover:hover {
    border-top: 1vh solid $white;
};

.border_bottom_1vh_white, .border_bottom_1vh_white_hover:hover {
    border-bottom: 1vh solid $white;
};

// grey
// .1vh
.border_01vh_grey, .border_01vh_grey_hover:hover {
    border: 0.1vh solid $grey;
};

.border_left_01vh_grey, .border_left_01vh_grey_hover:hover {
    border-left: 0.1vh solid $grey;
};

.border_right_01vh_grey, .border_right_01vh_grey_hover:hover {
    border-right: 0.1vh solid $grey;
};

.border_top_01vh_grey, .border_top_01vh_grey_hover:hover {
    border-top: 0.1vh solid $grey;
};

.border_bottom_01vh_grey, .border_bottom_01vh_grey_hover:hover {
    border-bottom: 0.1vh solid $grey;
};

// 1vh
.border_1vh_grey, .border_1vh_grey_hover:hover {
    border: 1vh solid $grey;
};

.border_left_1vh_grey, .border_left_1vh_grey_hover:hover {
    border-left: 1vh solid $grey;
};

.border_right_1vh_grey, .border_right_1vh_grey_hover:hover {
    border-right: 1vh solid $grey;
};

.border_top_1vh_grey, .border_top_1vh_grey_hover:hover {
    border-top: 1vh solid $grey;
};

.border_bottom_1vh_grey, .border_bottom_1vh_grey_hover:hover {
    border-bottom: 1vh solid $grey;
};