// basics
.color_white, .color_whitehover:hover {
  color: $white;
}
.color_black, .color_blackhover:hover {
  color: $black;
}

// colors
.color_pink, .color_pinkhover:hover {
  color: $pink;
}
.color_yellow, .color_yellowhover:hover {
  color: $yellow;
}
.color_orange, .color_orangehover:hover {
  color: $orange;
}
.color_purple, .color_purplehover:hover {
  color: $purple;
}
.color_blue, .color_bluehover:hover {
  color: $blue;
}
.color_green, .color_greenhover:hover {
  color: $green;
}
