.first_letter_100vw::first-letter { 
  font-size: 100vw;
}

.first_letter_50vw::first-letter { 
  font-size: 50vw;
}

.first_letter_25vw::first-letter { 
  font-size: 25vw;
}

.first_letter_20vw::first-letter { 
  font-size: 20vw;
}

.first_letter_15vw::first-letter { 
  font-size: 15vw;
}

.first_letter_1205vw::first-letter { 
  font-size: 12.5vw;
}

.first_letter_10vw::first-letter { 
  font-size: 10vw;
}

.first_letter_5vw::first-letter { 
  font-size: 5vw;
}

.first_letter_205vw::first-letter { 
  font-size: 2.5vw;
}
/* vw */

.font_size_100vw {
  font-size: 100vw;
}

.font_size_8705vw {
  font-size: 87.5vw;
}

.font_size_75vw {
  font-size: 75vw;
}

.font_size_6705vw {
  font-size: 67.5vw;
}

.font_size_50vw {
  font-size: 50vw;
}

.font_size_40vw {
  font-size: 40vw;
}

.font_size_30vw {
  font-size: 30vw;
}

.font_size_25vw {
  font-size: 25vw;
}

.font_size_20vw {
  font-size: 20vw;
}

.font_size_1875vw {
  font-size: 18.75vw;
}

.font_size_15vw {
  font-size: 15vw;
}

.font_size_1205vw {
  font-size: 12.5vw;
}

.font_size_10vw {
  font-size: 10vw;
}

.font_size_9035vw {
  font-size: 9.35vw;
}

.font_size_9vw {
  font-size: 9vw;
}

.font_size_8vw {
  font-size: 8vw;
}

.font_size_705vw {
  font-size: 7.5vw;
}

.font_size_7vw {
  font-size: 7vw;
}

.font_size_6025vw {
  font-size: 6.25vw;
}

.font_size_6vw {
  font-size: 6vw;
}

.font_size_5vw {
  font-size: 5vw;
}

.font_size_405vw {
  font-size: 4.5vw;
}

.font_size_4vw {
  font-size: 4vw;
}

.font_size_305vw {
  font-size: 3.5vw;
}

.font_size_30125vw {
  font-size: 3.125vw;
}

.font_size_3vw {
  font-size: 3vw;
}

.font_size_2075vw {
  font-size: 2.75vw;
}

.font_size_205vw {
  font-size: 2.5vw;
}

.font_size_2025vw {
  font-size: 2.25vw;
}

.font_size_2vw {
  font-size: 2vw;
}

.font_size_1075vw {
  font-size: 1.75vw;
}

.font_size_105vw {
  font-size: 1.5vw;
}

.font_size_1vw {
  font-size: 1vw;
}
