.gradient_grey_top {
    background: url("./assets/gradient/grey_top.svg");
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: auto 100% ;
    max-width: none;
}

.gradient_white_top {
    background: url("./assets/gradient/white_top.svg");
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: auto 100% ;
    max-width: none;
}