.margin_auto {
  margin: auto;
};

.margin_10vw {
	margin: 10vw;
};

.margin_10vh {
	margin: 10vh;
};

.margin_10px {
	margin: 10px;
};

.margin_10vw_top {
	margin-top: 10vw;
};

.margin_10vh_top {
	margin-top: 10vh;
};

.margin_10px_top {
	margin-top: 10px;
};

.margin_10vw_left {
	margin-left: 10vw;
};

.margin_10vh_left {
	margin-left: 10vh;
};

.margin_10px_left {
	margin-left: 10px;
};

.margin_10vw_bottom {
	margin-bottom: 10vw;
};

.margin_10vh_bottom {
	margin-bottom: 10vh;
};

.margin_10px_bottom {
	margin-bottom: 10px;
};

.margin_10vw_right {
	margin-right: 10vw;
};

.margin_10vh_right {
	margin-right: 10vh;
};

.margin_10px_right {
	margin-right: 10px;
};

.margin_705vw {
	margin: 7.5vw;
};

.margin_705vh {
	margin: 7.5vh;
};

.margin_705px {
	margin: 7.5px;
};

.margin_705vw_top {
	margin-top: 7.5vw;
};

.margin_705vh_top {
	margin-top: 7.5vh;
};

.margin_705px_top {
	margin-top: 7.5px;
};

.margin_705vw_left {
	margin-left: 7.5vw;
};

.margin_705vh_left {
	margin-left: 7.5vh;
};

.margin_705px_left {
	margin-left: 7.5px;
};

.margin_705vw_bottom {
	margin-bottom: 7.5vw;
};

.margin_705vh_bottom {
	margin-bottom: 7.5vh;
};

.margin_705px_bottom {
	margin-bottom: 7.5px;
};

.margin_705vw_right {
	margin-right: 7.5vw;
};

.margin_705vh_right {
	margin-right: 7.5vh;
};

.margin_705px_right {
	margin-right: 7.5px;
};

// 5

.margin_5vw {
	margin: 5vw;
};

.margin_5vh {
	margin: 5vh;
};

.margin_5px {
	margin: 5px;
};

.margin_5vw_top {
	margin-top: 5vw;
};

.margin_5vh_top {
	margin-top: 5vh;
};

.margin_5px_top {
	margin-top: 5px;
};

.margin_5vw_left {
	margin-left: 5vw;
};

.margin_5vh_left {
	margin-left: 5vh;
};

.margin_5px_left {
	margin-left: 5px;
};

.margin_5vw_bottom {
	margin-bottom: 5vw;
};

.margin_5vh_bottom {
	margin-bottom: 5vh;
};

.margin_5px_bottom {
	margin-bottom: 5px;
};

.margin_5vw_right {
	margin-right: 5vw;
};

.margin_5vh_right {
	margin-right: 5vh;
};

.margin_5px_right {
	margin-right: 5px;
};

//205
.margin_205vw {
	margin: 2.5vw;
};

.margin_205vh {
	margin: 2.5vh;
};

.margin_205px {
	margin: 2.5px;
};

.margin_205vw_top {
	margin-top: 2.5vw;
};

.margin_205vh_top {
	margin-top: 2.5vh;
};

.margin_205px_top {
	margin-top: 2.5px;
};

.margin_205vw_left {
	margin-left: 2.5vw;
};

.margin_205vh_left {
	margin-left: 2.5vh;
};

.margin_205px_left {
	margin-left: 2.5px;
};

.margin_205vw_bottom {
	margin-bottom: 2.5vw;
};

.margin_205vh_bottom {
	margin-bottom: 2.5vh;
};

.margin_205px_bottom {
	margin-bottom: 2.5px;
};

.margin_205vw_right {
	margin-right: 2.5vw;
};

.margin_205vh_right {
	margin-right: 2.5vh;
};

.margin_205px_right {
	margin-right: 2.5px;
};


//2
.margin_2vw {
	margin: 2vw;
};

.margin_2vh {
	margin: 2vh;
};

.margin_2px {
	margin: 2px;
};

.margin_2vw_top {
	margin-top: 2vw;
};

.margin_2vh_top {
	margin-top: 2vh;
};

.margin_2px_top {
	margin-top: 2px;
};

.margin_2vw_left {
	margin-left: 2vw;
};

.margin_2vh_left {
	margin-left: 2vh;
};

.margin_2px_left {
	margin-left: 2px;
};

.margin_2vw_bottom {
	margin-bottom: 2vw;
};

.margin_2vh_bottom {
	margin-bottom: 2vh;
};

.margin_2px_bottom {
	margin-bottom: 2px;
};

.margin_2vw_right {
	margin-right: 2vw;
};

.margin_2vh_right {
	margin-right: 2vh;
};

.margin_2px_right {
	margin-right: 2px;
};


//105
.margin_105vw {
	margin: 1.5vw;
};

.margin_105vh {
	margin: 1.5vh;
};

.margin_105px {
	margin: 1.5px;
};

.margin_105vw_top {
	margin-top: 1.5vw;
};

.margin_105vh_top {
	margin-top: 1.5vh;
};

.margin_105px_top {
	margin-top: 1.5px;
};

.margin_105vw_left {
	margin-left: 1.5vw;
};

.margin_105vh_left {
	margin-left: 1.5vh;
};

.margin_105px_left {
	margin-left: 1.5px;
};

.margin_105vw_bottom {
	margin-bottom: 1.5vw;
};

.margin_105vh_bottom {
	margin-bottom: 1.5vh;
};

.margin_105px_bottom {
	margin-bottom: 1.5px;
};

.margin_105vw_right {
	margin-right: 1.5vw;
};

.margin_105vh_right {
	margin-right: 1.5vh;
};

.margin_105px_right {
	margin-right: 1.5px;
};

// 1
.margin_1vw {
	margin: 1vw;
};

.margin_1vh {
	margin: 1vh;
};

.margin_1px {
	margin: 1px;
};

.margin_1vw_top {
	margin-top: 1vw;
};

.margin_1vh_top {
	margin-top: 1vh;
};

.margin_1px_top {
	margin-top: 1px;
};

.margin_1vw_left {
	margin-left: 1vw;
};

.margin_1vh_left {
	margin-left: 1vh;
};

.margin_1px_left {
	margin-left: 1px;
};

.margin_1vw_bottom {
	margin-bottom: 1vw;
};

.margin_1vh_bottom {
	margin-bottom: 1vh;
};

.margin_1px_bottom {
	margin-bottom: 1px;
};

.margin_1vw_right {
	margin-right: 1vw;
};

.margin_1vh_right {
	margin-right: 1vh;
};

.margin_1px_right {
	margin-right: 1px;
};

// 05

.margin_05vw {
	margin: .5vw;
};

.margin_05vh {
	margin: .5vh;
};

.margin_05px {
	margin: .5px;
};

.margin_05vw_top {
	margin-top: .5vw;
};

.margin_05vh_top {
	margin-top: .5vh;
};

.margin_05px_top {
	margin-top: .5px;
};

.margin_05vw_left {
	margin-left: .5vw;
};

.margin_05vh_left {
	margin-left: .5vh;
};

.margin_05px_left {
	margin-left: .5px;
};

.margin_05vw_bottom {
	margin-bottom: .5vw;
};

.margin_05vh_bottom {
	margin-bottom: .5vh;
};

.margin_05px_bottom {
	margin-bottom: .5px;
};

.margin_05vw_right {
	margin-right: .5vw;
};

.margin_05vh_right {
	margin-right: .5vh;
};

.margin_05px_right {
	margin-right: .5px;
};


// 025

.margin_025vw {
	margin: .25vw;
};

.margin_025vh {
	margin: .25vh;
};

.margin_025px {
	margin: .25px;
};

.margin_025vw_top {
	margin-top: .25vw;
};

.margin_025vh_top {
	margin-top: .25vh;
};

.margin_025px_top {
	margin-top: .25px;
};

.margin_025vw_left {
	margin-left: .25vw;
};

.margin_025vh_left {
	margin-left: .25vh;
};

.margin_025px_left {
	margin-left: .25px;
};

.margin_025vw_bottom {
	margin-bottom: .25vw;
};

.margin_025vh_bottom {
	margin-bottom: .25vh;
};

.margin_025px_bottom {
	margin-bottom: .25px;
};

.margin_025vw_right {
	margin-right: .25vw;
};

.margin_025vh_right {
	margin-right: .25vh;
};

.margin_025px_right {
	margin-right: .25px;
};

// 02

.margin_02vw {
	margin: .2vw;
};

.margin_02vh {
	margin: .2vh;
};

.margin_02px {
	margin: .2px;
};

.margin_02vw_top {
	margin-top: .2vw;
};

.margin_02vh_top {
	margin-top: .2vh;
};

.margin_02px_top {
	margin-top: .2px;
};

.margin_02vw_left {
	margin-left: .2vw;
};

.margin_02vh_left {
	margin-left: .2vh;
};

.margin_02px_left {
	margin-left: .2px;
};

.margin_02vw_bottom {
	margin-bottom: .2vw;
};

.margin_02vh_bottom {
	margin-bottom: .2vh;
};

.margin_02px_bottom {
	margin-bottom: .2px;
};

.margin_02vw_right {
	margin-right: .2vw;
};

.margin_02vh_right {
	margin-right: .2vh;
};

.margin_02px_right {
	margin-right: .2px;
};


// -0.1

.margin_01vw {
	margin: .1vw;
};

.margin_01vh {
	margin: .1vh;
};

.margin_01px {
	margin: .1px;
};

.margin_01vw_top {
	margin-top: .1vw;
};

.margin_01vh_top {
	margin-top: .1vh;
};

.margin_01px_top {
	margin-top: .1px;
};

.margin_01vw_left {
	margin-left: .1vw;
};

.margin_01vh_left {
	margin-left: .1vh;
};

.margin_01px_left {
	margin-left: .1px;
};

.margin_01vw_bottom {
	margin-bottom: .1vw;
};

.margin_01vh_bottom {
	margin-bottom: .1vh;
};

.margin_01px_bottom {
	margin-bottom: .1px;
};

.margin_01vw_right {
	margin-right: .1vw;
};

.margin_01vh_right {
	margin-right: .1vh;
};

.margin_01px_right {
	margin-right: .1px;
};


// -0.1

.margin_-01vw {
	margin: -.1vw;
};

.margin_-01vh {
	margin: -.1vh;
};

.margin_-01px {
	margin: -.1px;
};

.margin_-01vw_top {
	margin-top: -.1vw;
};

.margin_-01vh_top {
	margin-top: -.1vh;
};

.margin_-01px_top {
	margin-top: -.1px;
};

.margin_-01vw_left {
	margin-left: -.1vw;
};

.margin_-01vh_left {
	margin-left: -.1vh;
};

.margin_-01px_left {
	margin-left: -.1px;
};

.margin_-01vw_bottom {
	margin-bottom: -.1vw;
};

.margin_-01vh_bottom {
	margin-bottom: -.1vh;
};

.margin_-01px_bottom {
	margin-bottom: -.1px;
};

.margin_-01vw_right {
	margin-right: -.1vw;
};

.margin_-01vh_right {
	margin-right: -.1vh;
};

.margin_-01px_right {
	margin-right: -.1px;
};

// -0.2

.margin_-02vw {
	margin: -.2vw;
};

.margin_-02vh {
	margin: -.2vh;
};

.margin_-02px {
	margin: -.2px;
};

.margin_-02vw_top {
	margin-top: -.2vw;
};

.margin_-02vh_top {
	margin-top: -.2vh;
};

.margin_-02px_top {
	margin-top: -.2px;
};

.margin_-02vw_left {
	margin-left: -.2vw;
};

.margin_-02vh_left {
	margin-left: -.2vh;
};

.margin_-02px_left {
	margin-left: -.2px;
};

.margin_-02vw_bottom {
	margin-bottom: -.2vw;
};

.margin_-02vh_bottom {
	margin-bottom: -.2vh;
};

.margin_-02px_bottom {
	margin-bottom: -.2px;
};

.margin_-02vw_right {
	margin-right: -.2vw;
};

.margin_-02vh_right {
	margin-right: -.2vh;
};

.margin_-02px_right {
	margin-right: -.2px;
};


// -0.4

.margin_-04vw {
	margin: -.4vw;
};

.margin_-04vh {
	margin: -.4vh;
};

.margin_-04px {
	margin: -.4px;
};

.margin_-04vw_top {
	margin-top: -.4vw;
};

.margin_-04vh_top {
	margin-top: -.4vh;
};

.margin_-04px_top {
	margin-top: -.4px;
};

.margin_-04vw_left {
	margin-left: -.4vw;
};

.margin_-04vh_left {
	margin-left: -.4vh;
};

.margin_-04px_left {
	margin-left: -.4px;
};

.margin_-04vw_bottom {
	margin-bottom: -.4vw;
};

.margin_-04vh_bottom {
	margin-bottom: -.4vh;
};

.margin_-04px_bottom {
	margin-bottom: -.4px;
};

.margin_-04vw_right {
	margin-right: -.4vw;
};

.margin_-04vh_right {
	margin-right: -.4vh;
};

.margin_-04px_right {
	margin-right: -.4px;
};