
// OPACITY
.opacity_005 {
    opacity: .05;
}

.opacity_0 {
    opacity: .0;
}

.opacity_01 {
    opacity: .1;
}

.opacity_02 {
    opacity: .2;
}

.opacity_03 {
    opacity: .3;
}

.opacity_04 {
    opacity: .4;
}

.opacity_05 {
    opacity: .5;
}

.opacity_06 {
    opacity: .6;
}

.opacity_07 {
    opacity: .7;
}

.opacity_08 {
    opacity: .8;
}

.opacity_09 {
    opacity: .9;
}

.opacity_1 {
    opacity: 1;
}
