// overflows


.overflow {
  overflow-x: scroll;
  overflow-y: scroll;
}

.overflow_hidden {
  overflow-x: hidden;
  overflow-y: hidden;
}

.overflow_y {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.overflow_x {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}