
.padding_05 {
	padding: 0.5%;
};

.padding_05vw {
	padding: 0.5vw;
};

.padding_05vh {
	padding: 0.5vh;
};

.padding_05px {
	padding: 0.5px;
};

.padding_05vw_top {
	padding-top: 0.5vw;
};

.padding_05vh_top {
	padding-top: 0.5vh;
};

.padding_05px_top {
	padding-top: 0.5px;
};

.padding_05vw_left {
	padding-left: 0.5vw;
};

.padding_05vh_left {
	padding-left: 0.5vh;
};

.padding_05px_left {
	padding-left: 0.5px;
};

.padding_05vw_right {
	padding-right: 0.5vw;
};

.padding_05vh_right {
	padding-right: 0.5vh;
};

.padding_05px_right {
	padding-right: 0.5px;
};

.padding_05vw_bottom {
	padding-bottom: 0.5vw;
};

.padding_05vh_bottom {
	padding-bottom: 0.5vh;
};

.padding_05px_bottom {
	padding-bottom: 0.5px;
};

.padding_1 {
	padding: 1%;
};

.padding_1vw {
	padding: 1vw;
};

.padding_1vh {
	padding: 1vh;
};

.padding_1px {
	padding: 1px;
};

.padding_1vw_top {
	padding-top: 1vw;
};

.padding_1vh_top {
	padding-top: 1vh;
};

.padding_1px_top {
	padding-top: 1px;
};

.padding_1vw_left {
	padding-left: 1vw;
};

.padding_1vh_left {
	padding-left: 1vh;
};

.padding_1px_left {
	padding-left: 1px;
};

.padding_1vw_right {
	padding-right: 1vw;
};

.padding_1vh_right {
	padding-right: 1vh;
};

.padding_1px_right {
	padding-right: 1px;
};

.padding_1vw_bottom {
	padding-bottom: 1vw;
};

.padding_1vh_bottom {
	padding-bottom: 1vh;
};

.padding_1px_bottom {
	padding-bottom: 1px;
};

.padding_1025 {
	padding: 1.25%;
};

.padding_1025vw {
	padding: 1.25vw;
};

.padding_1025vh {
	padding: 1.25vh;
};

.padding_1025px {
	padding: 1.25px;
};

.padding_1025vw_top {
	padding-top: 1.25vw;
};

.padding_1025vh_top {
	padding-top: 1.25vh;
};

.padding_1025px_top {
	padding-top: 1.25px;
};

.padding_1025vw_left {
	padding-left: 1.25vw;
};

.padding_1025vh_left {
	padding-left: 1.25vh;
};

.padding_1025px_left {
	padding-left: 1.25px;
};

.padding_1025vw_right {
	padding-right: 1.25vw;
};

.padding_1025vh_right {
	padding-right: 1.25vh;
};

.padding_1025px_right {
	padding-right: 1.25px;
};

.padding_1025vw_bottom {
	padding-bottom: 1.25vw;
};

.padding_1025vh_bottom {
	padding-bottom: 1.25vh;
};

.padding_1025px_bottom {
	padding-bottom: 1.25px;
};

.padding_105 {
	padding: 1.5%;
};

.padding_105vw {
	padding: 1.5vw;
};

.padding_105vh {
	padding: 1.5vh;
};

.padding_105px {
	padding: 1.5px;
};

.padding_105vw_top {
	padding-top: 1.5vw;
};

.padding_105vh_top {
	padding-top: 1.5vh;
};

.padding_105px_top {
	padding-top: 1.5px;
};

.padding_105vw_left {
	padding-left: 1.5vw;
};

.padding_105vh_left {
	padding-left: 1.5vh;
};

.padding_105px_left {
	padding-left: 1.5px;
};

.padding_105vw_right {
	padding-right: 1.5vw;
};

.padding_105vh_right {
	padding-right: 1.5vh;
};

.padding_105px_right {
	padding-right: 1.5px;
};

.padding_105vw_bottom {
	padding-bottom: 1.5vw;
};

.padding_105vh_bottom {
	padding-bottom: 1.5vh;
};

.padding_105px_bottom {
	padding-bottom: 1.5px;
};


.padding_205 {
	padding: 2.5%;
};

.padding_205vw {
	padding: 2.5vw;
};

.padding_205vh {
	padding: 2.5vh;
};

.padding_205px {
	padding: 2.5px;
};

.padding_205vw_top {
	padding-top: 2.5vw;
};

.padding_205vh_top {
	padding-top: 2.5vh;
};

.padding_205px_top {
	padding-top: 2.5px;
};

.padding_205vw_left {
	padding-left: 2.5vw;
};

.padding_205vh_left {
	padding-left: 2.5vh;
};

.padding_205px_left {
	padding-left: 2.5px;
};

.padding_205vw_right {
	padding-right: 2.5vw;
};

.padding_205vh_right {
	padding-right: 2.5vh;
};

.padding_205px_right {
	padding-right: 2.5px;
};

.padding_205vw_bottom {
	padding-bottom: 2.5vw;
};

.padding_205vh_bottom {
	padding-bottom: 2.5vh;
};

.padding_205px_bottom {
	padding-bottom: 2.5px;
};


.padding_2 {
	padding: 2%;
};

.padding_2vw {
	padding: 2vw;
};

.padding_2vh {
	padding: 2vh;
};

.padding_2px {
	padding: 2px;
};

.padding_2vw_top {
	padding-top: 2vw;
};

.padding_2vh_top {
	padding-top: 2vh;
};

.padding_2px_top {
	padding-top: 2px;
};

.padding_2vw_left {
	padding-left: 2vw;
};

.padding_2vh_left {
	padding-left: 2vh;
};

.padding_2px_left {
	padding-left: 2px;
};

.padding_2vw_right {
	padding-right: 2vw;
};

.padding_2vh_right {
	padding-right: 2vh;
};

.padding_2px_right {
	padding-right: 2px;
};

.padding_2vw_bottom {
	padding-bottom: 2vw;
};

.padding_2vh_bottom {
	padding-bottom: 2vh;
};

.padding_2px_bottom {
	padding-bottom: 2px;
};



.padding_5 {
	padding: 5%;
};

.padding_5vw {
	padding: 5vw;
};

.padding_5vh {
	padding: 5vh;
};

.padding_5px {
	padding: 5px;
};

.padding_5vw_top {
	padding-top: 5vw;
};

.padding_5vh_top {
	padding-top: 5vh;
};

.padding_5px_top {
	padding-top: 5px;
};

.padding_5vw_left {
	padding-left: 5vw;
};

.padding_5vh_left {
	padding-left: 5vh;
};

.padding_5px_left {
	padding-left: 5px;
};

.padding_5vw_right {
	padding-right: 5vw;
};

.padding_5vh_right {
	padding-right: 5vh;
};

.padding_5px_right {
	padding-right: 5px;
};

.padding_5vw_bottom {
	padding-bottom: 5vw;
};

.padding_5vh_bottom {
	padding-bottom: 5vh;
};

.padding_5px_bottom {
	padding-bottom: 5px;
};


.padding_10 {
	padding: 10%;
};

.padding_10vw {
	padding: 10vw;
};

.padding_10vh {
	padding: 10vh;
};

.padding_10px {
	padding: 10px;
};

.padding_10vw_top {
	padding-top: 10vw;
};

.padding_10vh_top {
	padding-top: 10vh;
};

.padding_10px_top {
	padding-top: 10px;
};

.padding_10vw_left {
	padding-left: 10vw;
};

.padding_10vh_left {
	padding-left: 10vh;
};

.padding_10px_left {
	padding-left: 10px;
};

.padding_10vw_right {
	padding-right: 10vw;
};

.padding_10vh_right {
	padding-right: 10vh;
};

.padding_10px_right {
	padding-right: 10px;
};

.padding_10vw_bottom {
	padding-bottom: 10vw;
};

.padding_10vh_bottom {
	padding-bottom: 10vh;
};

.padding_10px_bottom {
	padding-bottom: 10px;
};

.padding_top_100 {
	padding-top: 100%;
};

.padding_left_100 {
	padding-left: 100%;
};

.padding_bottom_100 {
	padding-bottom: 100%;
};

.padding_right_100 {
	padding-right: 100%;
};