#opening {
	width: 100%;
	height: 100vh;
	position: relative;
	float: left;
    background: $grey;
}

body.dark {
	color: $white;
    background: $grey;
}

.center_top #vr_mg{
  transform: translate3d(-100%, 0, 0);
};

.top_left #vr_mg{
  transform: translate3d(0%, 0, 0);
};

.top_right #vr_mg{
  transform: translate3d(-200%, 0, 0);
};

.center #vr_mg{
  transform: translate3d(-100%, -100%, 0);
};

.center_left #vr_mg{
  transform: translate3d(0%, -100%, 0);
};

.center_right #vr_mg{
  transform: translate3d(-200%, -100%, 0);
};

.center_bottom #vr_mg{
  transform: translate3d(-100%, -200%, 0);
};

.bottom_left #vr_mg{
  transform: translate3d(0%, -200%, 0);
};

.bottom_right #vr_mg{
  transform: translate3d(-200%, -200%, 0);
};

// navs
#modal_nav_top {

	position: fixed;
	background: $grey;
	float: left;
	margin: auto;
	width: 100vw;
	height: 6.25vw;
	right:0;
	top:	-6.25vw;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_nav_top #modal_nav_top {
	right:0;
	top:0%;
	left:0;
}

#modal_nav_bottom {

	position: fixed;
	background: $grey;
	float: left;
	margin: auto;
	width: 100vw;
	height: 6.25vw;
	right:0;
	bottom:	-6.25vw;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_nav_bottom #modal_nav_bottom {
	right:0;
	bottom:0%;
	left:0;
}

#modal_nav_right {

	position: fixed;
	background: $grey;
	float: right;
	margin: auto;
	height: 100vh;
	width: 6.25vw;
	top:0;
	right:	-6.25vw;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_nav_right #modal_nav_right {
	top:0;
	right:0%;
	bottom:0;
}

#modal_nav_left {

	position: fixed;
	background: $grey;
	float: left;
	margin: auto;
	height: 100vh;
	width: 6.25vw;
	top:0;
	left:	-6.25vw;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_nav_left #modal_nav_left {
	top:0;
	left:0%;
	bottom:0;
}

// pops
#modal_pop_right {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	top:0;
	left:100%;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100);

	-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100);

	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;

	.class_pop_right {

		position: relative;
		background: $white;
		float: left;
		margin: auto;
		width: calc(100vw - 25vw);
		height: calc(100vh - 25vw);
		z-index: 1;

		.container {
			width: calc(100% - 12.5vw);
			height: calc(100% - 12.5vw);
			padding: 6.25vw;

		}

	}

}

.modal_pop_right #modal_pop_right {
	top:0;
	left:0%;
	bottom:0;
}

#modal_pop_left {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	top:0;
	right:100%;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100);

	-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100);

	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	
	.class_pop_left {

		position: relative;
		background: $white;
		float: left;
		margin: auto;
		width: calc(100vw - 25vw);
		height: calc(100vh - 25vw);
		z-index: 1;

		.container {
			width: calc(100% - 12.5vw);
			height: calc(100% - 12.5vw);
			padding: 6.25vw;

		}

	}

}

.modal_pop_left #modal_pop_left {
	top:0;
	right:0%;
	bottom:0;
}

#modal_pop_top {

	position: fixed;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	right:0;
	bottom:100%;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;

	.class_pop_top {

		position: relative;
		background: $white;
		float: left;
		margin: auto;
		width: calc(100vw - 25vw);
		height: calc(100vh - 25vw);
		z-index: 1;

		.container {
			width: calc(100% - 12.5vw);
			height: calc(100% - 12.5vw);
			padding: 6.25vw;

		}

	}

}

.modal_pop_top #modal_pop_top {
	right:0;
	bottom:0%;
	left:0;
}

#modal_pop_bottom {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	right:0;
	top:100%;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100);

	-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100);

	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	
	.class_pop_bottom {

		position: relative;
		background: $white;
		float: left;
		margin: auto;
		width: calc(100vw - 25vw);
		height: calc(100vh - 25vw);
		z-index: 1;

		.container {
			width: calc(100% - 12.5vw);
			height: calc(100% - 12.5vw);
			padding: 6.25vw;

		}

	}
}

.modal_pop_bottom #modal_pop_bottom {
	right:0;
	top:0%;
	left:0;
}
//pages
#modal_page_right {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	top:0;
	left:100%;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100);

	-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100);

	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.modal_page_right #modal_page_right {
	top:0;
	left:0%;
	bottom:0;
}

#modal_page_left {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	top:0;
	right:100%;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100);

	-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100);
}

.modal_page_left #modal_page_left {
	top:0;
	right:0%;
	bottom:0;
}

#modal_page_top {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	right:0;
	bottom:100%;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;

}

.modal_page_top #modal_page_top {
	right:0;
	bottom:0%;
	left:0;
}

#modal_page_bottom {

	position: fixed;
	background: $white;
	float: left;
	margin: auto;
	width: 100vw;
	height: 100vh;
	right:0;
	top:100%;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100);

	-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	-o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
	transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100);
}

.modal_page_bottom #modal_page_bottom {
	right:0;
	top:0%;
	left:0;
}

// menus
#modal_menu_top {

	position: fixed;
	background: $grey;
	float: left;
	margin: auto;
	width: 100vw;
	height: 6.25vw;
	right:0;
	top:	-6.25vw;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_menu_top #modal_menu_top {
	right:0;
	top:0%;
	left:0;
}

#modal_menu_bottom {

	position: fixed;
	background: $grey;
	float: left;
	margin: auto;
	width: 100vw;
	height: 6.25vw;
	right:0;
	bottom:	-6.25vw;
	left:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_menu_bottom #modal_menu_bottom {
	right:0;
	bottom:0%;
	left:0;
}

#modal_menu_right {

	position: fixed;
	background: $grey;
	float: right;
	margin: auto;
	height: 100vh;
	width: 6.25vw;
	top:0;
	right:	-6.25vw;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_menu_right #modal_menu_right {
	top:0;
	right:0%;
	bottom:0;
}

#modal_menu_left {

	position: fixed;
	background: $grey;
	float: left;
	margin: auto;
	height: 100vh;
	width: 6.25vw;
	top:0;
	left:	-6.25vw;
	bottom:0;
	z-index: 1;

	-webkit-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-moz-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	-o-transition: all 100ms cubic-bezier(.100, .100, .100, .100); 
	transition: all 100ms cubic-bezier(.100, .100, .100, .100);

	-webkit-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-moz-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	-o-transition-timing-function: cubic-bezier(.100, .100, .100, .100); 
	transition-timing-function: cubic-bezier(.100, .100, .100, .100);

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

}

.modal_menu_left #modal_menu_left {
	top:0;
	left:0%;
	bottom:0;
}

.is_Mobile {
	
	#post {
		position: relative;
		float: left;
		margin: auto;
		width: 100%;

		h1 {
		font-family: serif;
		color: $black;
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h2 {
		font-family: serif;
		color: $black;
		font-size: 9vw;
		line-height: 9vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h3 {
		font-family: serif;
		color: $black;
		font-size: 8vw;
		line-height: 8vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h4 {
		font-family: serif;
		color: $black;
		font-size: 7vw;
		line-height: 7vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h5 {
		font-family: serif;
		color: $black;
		font-size: 6vw;
		line-height: 6vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h6 {
		font-family: serif;
		color: $black;
		font-size: 5vw;
		line-height: 5vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		p {
		font-family: serif;
		color: $grey;
		font-size: 4vw;
		line-height: 4vw;
		letter-spacing: -.5vw;
		width: 100%;
		text-align: center;
		float: left;
		word-break: break-word;
		}

		a {
		font-family: serif;
		color: $grey;
		font-size: 3vw;
		line-height: 3vw;
		letter-spacing: -.25vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		button {
		  letter-spacing: -.25vw;
		};
		
		.feat_img {
			background: $grey;
			height: 25vw;
			width: 100%;
			float: left;

			.container {
				//padding: 2vw;
				background: $white;
				border: 1vw solid $grey;
				width: calc(100% - 2vw);
				height: calc(100% - 2vw);
			}

		}
	}
	
	#posts_filtered_container {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#posts_filtered {
		width: 100%;
		margin: 0vw;
	}

	#posts_all_container {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#posts_all {
		width: 100%;
		margin: 0vw;
	}
	
	#firebase {
		width: 100%;
		float: left;
	}

	progress {
		width: 100%;
		float: left;
	}

	#modal-signup {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#signup-form {
		width: 100%;
		margin: 0vw;
	}

	#modal-signin {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#signin-form {
		width: 100%;
		margin: 0vw;
	}

	#modal-account {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#account-form {
		width: 100%;
		margin: 0vw;
	}

	#modal-create {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#create-form {
		width: 100%;
		margin: 0vw;
	}

	#modal-edit {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#edit-form {
		width: 100%;
		margin: 0vw;
	}

	.info_scroll_y {
		background: $white;
		position: relative;
		float: left;
		margin: auto;
		width: 100%;
		height: 100vh;

		.container {
			//padding: 2vw;
			//border: 1vw solid $grey;
			width: calc(100%);
			height: calc(100%);
		}
	}

	.element_overflow_x_scene {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		position: relative;
		float: left;
		margin: auto;
		height: 100%;
		width: 100vw;
	}

	#info_scroll_mix {
	    position: relative;
	    float: left;
	    margin: auto;
	    height: 100vh;
	    width: 100%;
	}

	#preview_info_scroll_x {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		background: $grey;
		top: 0;
		right: 0;
		position: absolute;
		float: left;
		margin: auto;
		height: 25vw;
		width: 75vw;

	}
	#preview_info_scroll_y {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		background: $grey;
		bottom: 0;
		left: 0;
		position: absolute;
		float: left;
		margin: auto;
		height: 100vh;
		width: 25vw;
	}

	#preview_info_scroll_y_2 {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		background: $grey;
		top: 25vw;
		right: 0;
		position: absolute;
		float: left;
		margin: auto;
		width: 12.5vw;
		height: calc(100% - 25vw);
		
	}

	#info_scroll_y_text {
		width: 100%;
		height: 100%;
		float: left;	
		background: $white;
		margin: auto;
		position: relative;

		.container {
			overflow-y: scroll;
			border: 1vw solid $grey;
			width: calc(100% - 2vw);
			height: calc(100% - 2vw);
		}
	}

	.info_scroll_x {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		position: relative;
		float: left;
	}

	#shot_1 {
		/*
		border: 1vw solid $grey;
		width: calc(100% - 2vw);
		height: calc(100% - 2vw);
		*/
		width: calc(100%);
		height: calc(100%);
	}

	#interactions_button_1 {
	  position: fixed;
	  left: 0;
	  top: 0;
	  margin: auto;
	  width: 6.25vw;
	  height: 6.25vw;
	  float: left;
	  z-index: 2;
	}

	#interactions_button_2 {
	  position: fixed;
	  right: 0;
	  top: 0;
	  margin: auto;
	  width: 6.25vw;
	  height: 6.25vw;
	  float: left;
	  z-index: 2;
	}

	#interactions_button_3 {
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  margin: auto;
	  width: 6.25vw;
	  height: 6.25vw;
	  float: left;
	  z-index: 2;
	}

	#interactions_button_4 {
	  position: fixed;
	  right: 0;
	  bottom: 0;
	  margin: auto;
	  width: 6.25vw;
	  height: 6.25vw;
	  float: left;
	  z-index: 2;
	}

	#create_button, #edit_button, #signout, #delete_button, #signin, #signup_submit, label {
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;	
		background: $grey;
		color: $white;	
	}

	.a_big {
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;	
		background: $grey;
		color: $white;	
	}

	.p_big{
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		color: $grey;	
	}
	
};

.is_Desktop.card #posts_all_container #post {
	position: relative;
	float: left;
	margin: auto;
	width: 33%;
};

.is_Desktop.numbered #posts_all_container #post {
	position: relative;
	float: left;
	margin: auto;
	width: 100%;
};

.is_Desktop.list #posts_all_container #post {
	position: relative;
	float: left;
	margin: auto;
	width: 50%;
};

.is_Desktop.read #posts_all_container #post {
	position: relative;
	float: left;
	margin: auto;
	width: 25%;
};

.is_Desktop.fifth #posts_all_container #post {
	position: relative;
	float: left;
	margin: auto;
	width: 20%;
};

.is_Desktop.sixth #posts_all_container #post {
	position: relative;
	float: left;
	margin: auto;
	width: 16.666%;
};

.is_Desktop.eighth #posts_all_container #post {
	position: relative;
	float: left;
	margin: auto;
	width: 12.5%;
};

#nav_1 {
	position: fixed;
	top: 0;
	left: 0;
	float: left;
	margin: auto;
	z-index: 2;
};

#nav_button_1_1, #nav_button_1_2, #nav_button_1_3, #nav_button_1_4 {
	position: relative;
	float: left;
	margin: auto;
	height: 6.25vw;
	width: 6.25vw;
	z-index: 2;
};

#nav_2 {
	position: fixed;
	top: 0;
	right: 0;
	float: left;
	margin: auto;
	z-index: 2;
};

#nav_button_2_1, #nav_button_2_2, #nav_button_2_3, #nav_button_2_4 {
	position: relative;
	float: left;
	margin: auto;
	height: 6.25vw;
	width: 6.25vw;
	z-index: 2;
};

#nav_3 {
	position: fixed;
	bottom: 0;
	left: 0;
	float: left;
	margin: auto;
	z-index: 2;
};

#nav_button_3_1, #nav_button_3_2, #nav_button_3_3, #nav_button_3_4 {
	position: relative;
	float: left;
	margin: auto;
	height: 6.25vw;
	width: 6.25vw;
	z-index: 2;
};

#nav_4 {
	position: fixed;
	bottom: 0;
	right: 0;
	float: left;
	margin: auto;
	z-index: 2;
};

#nav_button_4_1, #nav_button_4_2, #nav_button_4_3, #nav_button_4_4 {
	position: relative;
	float: left;
	margin: auto;
	height: 6.25vw;
	width: 6.25vw;
	z-index: 2;
};

.is_Desktop {

	#post {
		position: relative;
		float: left;
		margin: auto;
		width: 100%;

		
		h1 {
		font-family: serif;
		color: $black;
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h2 {
		font-family: serif;
		color: $black;
		font-size: 9vw;
		line-height: 9vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h3 {
		font-family: serif;
		color: $black;
		font-size: 8vw;
		line-height: 8vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h4 {
		font-family: serif;
		color: $black;
		font-size: 7vw;
		line-height: 7vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h5 {
		font-family: serif;
		color: $black;
		font-size: 6vw;
		line-height: 6vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		h6 {
		font-family: serif;
		color: $black;
		font-size: 5vw;
		line-height: 5vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		p {
		font-family: serif;
		color: $grey;
		font-size: 4vw;
		line-height: 4vw;
		letter-spacing: -.5vw;
		width: 100%;
		text-align: center;
		float: left;
		word-break: break-word;
		}

		a {
		font-family: serif;
		color: $grey;
		font-size: 3vw;
		line-height: 3vw;
		letter-spacing: -.25vw;
		width: 100%;
		text-align: center;
		float: left;
		}

		button {
		  letter-spacing: -.25vw;
		};

		.feat_img {
			background: $grey;
			height: 25vw;
			width: 100%;
			float: left;

			.container {
				//padding: 2vw;
				background: $white;
				border: 1vw solid $grey;
				width: calc(100% - 2vw);
				height: calc(100% - 2vw);
			}

		}
	}

	#posts_filtered_container {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#posts_filtered {
		width: 100%;
		margin: 0vw;
	}

	#posts_all_container {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#posts_all {
		width: 100%;
		margin: 0vw;
	}
	
	#firebase {
		width: 100%;
		float: left;
	}

	progress {
		width: 100%;
		float: left;
	}

	#modal-signup {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#signup-form {
		width: 100%;
	}

	#modal-signin {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#signin-form {
		width: 100%;
	}

	#modal-account {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#account-form {
		width: 100%;
	}

	#modal-create {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#create-form {
		width: 100%;
	}

	#modal-edit {
		width: 100%;
		float: left;
	    display: -webkit-box;
	    -webkit-box-pack: center;
	    -webkit-box-align: center;
	}

	#edit-form {
		width: 100%;
	}

	#info_scroll_y {
		background: $white;
		position: relative;
		float: left;
		margin: auto;
		width: 100%;
		height: 100vh;

		.container {
			padding: 2vw;
			border: 1vw solid $grey;
			width: calc(100% - 6vw);
			height: calc(100% - 6vw);
		}
	}

	.element_overflow_x_scene {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		position: relative;
		float: left;
		margin: auto;
		height: 100%;
		width: 100vw;
	}

	#info_scroll_mix {
	    position: relative;
	    float: left;
	    margin: auto;
	    height: 100vh;
	    width: 100%;
	}

	#preview_info_scroll_x {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		background: $grey;
		top: 0;
		right: 0;
		position: absolute;
		float: left;
		margin: auto;
		height: 25vw;
		width: 75vw;

	}
	#preview_info_scroll_y {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		background: $grey;
		bottom: 0;
		left: 0;
		position: absolute;
		float: left;
		margin: auto;
		height: 100vh;
		width: 25vw;
	}

	#preview_info_scroll_y_2 {
		-webkit-box-align: center;
		-webkit-box-pack: center;
		display: -webkit-box;
		background: $grey;
		top: 25vw;
		right: 0;
		position: absolute;
		float: left;
		margin: auto;
		width: 12.5vw;
		height: calc(100% - 25vw);
		
	}

	#wides {
		#info_scroll_y_text {
			width: 100%;
			height: 100%;

		}
	};

	#info_scroll_y_text {
		width: 100%;
		height: 100vh;
		float: left;	
		background: $white;
		margin: auto;
		position: relative;
		
		.container {
			overflow-y: scroll;
			padding: 2vw;
			border: 1vw solid $grey;
			width: calc(100% - 6vw);
			height: calc(100% - 6vw);
		}
	}

	.info_scroll_x {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		position: relative;
		float: left;
	}

	#shot_1 {
		/*
		border: 1vw solid $grey;
		width: calc(100% - 2vw);
		height: calc(100% - 2vw);
		*/
		width: calc(100%);
		height: calc(100%);
	}

	#interactions_button_1 {
	  position: fixed;
	  left: 0;
	  top: 0;
	  margin: auto;
	  width: 6.25%;
	  height: 6.25vh;
	  float: left;
	  z-index: 10;
	}

	#interactions_button_2 {
	  position: fixed;
	  right: 0;
	  top: 0;
	  margin: auto;
	  width: 6.25%;
	  height: 6.25vh;
	  float: left;
	  z-index: 10;
	}

	#interactions_button_3 {
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  margin: auto;
	  width: 6.25%;
	  height: 6.25vh;
	  float: left;
	  z-index: 10;
	}

	#interactions_button_4 {
	  position: fixed;
	  right: 0;
	  bottom: 0;
	  margin: auto;
	  width: 6.25%;
	  height: 6.25vh;
	  float: left;
	  z-index: 10;
	}

	#create_button, #edit_button, #signout, #delete_button, #signin, #signup_submit, label {
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;	
		background: $grey;
		color: $white;	
	}
	
	.a_big {
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;	
		background: $grey;
		color: $white;	
	}

	.p_big{
		font-size: 10vw;
		line-height: 10vw;
		letter-spacing: -1vw;
		width: 100%;
		text-align: center;
		float: left;
		color: $grey;	
	}

};
