body { margin-right: 0; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: none;
  width: 0;
  height: 0;
  overflow: visible; }

body::-webkit-scrollbar {
  width: 0;
  margin: 0;
  height: 0; }

body::-webkit-scrollbar-thumb {
  width: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  background-color: none; }


.scrollbaryhidden {
  margin-right: 0; }

.scrollbaryhidden::-webkit-scrollbar-track {
  opacity: 0;
  -webkit-box-shadow: none;
  background-color: none;
  width: 0;
  height: 0;
  overflow: visible; }

.scrollbaryhidden::-webkit-scrollbar {
  opacity: 0;
  width: 0;
  margin: 0;
  height: 0; }

.scrollbaryhidden::-webkit-scrollbar-thumb {
  opacity: 0;
  width: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  background-color: none; }

.scrollbary {
  margin-right: 0; }

.scrollbary::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: none;
  width: 2.5vh;
  height: 5vh;
  overflow: visible; }

.scrollbary::-webkit-scrollbar {
  width: 2.5vh;
  margin: 1.25vh;
  height: 10vh; }

.scrollbary-scrollbar-track-light-yellow-9 {
  margin-right: 0; }

.scrollbary-scrollbar-track-light-yellow-9::-webkit-scrollbar-track {
  border-left: 0.1vh solid $grey;
  background-color: $white;
  width: 2.5vh;
  height: 5vh;
  overflow: visible; }

.scrollbary-scrollbar-light-yellow-9::-webkit-scrollbar {
  width: 2.5vh;
  margin: 1.25vh;
  height: 10vh; }

.scrollbary-light-yellow::-webkit-scrollbar-thumb {
  width: calc(100% - .2vh);
  margin: 1.25vh;
  height: 5vh;
  overflow: hidden;
  background-color: $grey; 
  border: 0.1vh solid $black;
  }

.scrollbary-light-yellow-border-dark-yellow::-webkit-scrollbar-thumb {
  width: 2.5vh;
  margin: 1.25vh;
  height: 5vh;
  overflow: hidden;
  background-color: $white;
  border: 0.1vh solid $black;
  box-shadow: -1vh 1vh 0 0 $grey; }

.scrollbarxhidden {
  margin-right: 0; }

.scrollbarxhidden::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: none;
  width: 0;
  height: 0;
  overflow: visible; }

.scrollbarxhidden::-webkit-scrollbar {
  width: 0;
  margin: 0;
  height: 0; }

.scrollbarxhidden::-webkit-scrollbar-thumb {
  width: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  background-color: none; }

.scrollbarx {
  margin-bottom: 0; }

.scrollbarx::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: none;
  width: 2.5vh;
  height: 1.25vh;
  overflow: visible; }

.scrollbarx::-webkit-scrollbar {
  width: 10vh;
  margin: 1.25vh;
  height: 1.25vh; }

.scrollbarx-scrollbar-track-light-yellow-9::-webkit-scrollbar-track {
  width: 2.5vh;
  height: 2.5vh;
  overflow: visible;
  border-top: 0.1vh solid $black;
  background-color: $white;
}

.scrollbarx-scrollbar-light-yellow-9::-webkit-scrollbar {
  width: 2.5vh;
  margin: 1.25vh;
  height: 2.5vh; }

.scrollbarx-light-yellow::-webkit-scrollbar-thumb {
  width: 2.5vh;
  margin: 1.25vh;
  height: 1.25vh;
  overflow: hidden;
  border: 0.1vh solid $black;
  background-color: $grey;
}

.scrollbarx-light-yellow-border-dark-yellow::-webkit-scrollbar-thumb {
  width: 2.5vh;
  margin: 1.25vh;
  height: 1.25vh;
  overflow: hidden;
  border: 0.1vh solid $black;
  background-color: $grey;
}