//01
.calc_01vw {
  width: calc(100% - .1vw);
  height: calc(100% - .1vw); }

.calc_01vh {
  width: calc(100% - .1vh);
  height: calc(100% - .1vh); }

.calc_01vw_width {
  width: calc(100% - .1vw); }

.calc_01vw_height {
  height: calc(100% - .1vw); }

.calc_01vh_width {
  width: calc(100% - .1vh); }

.calc_01vh_height {
  height: calc(100% - .1vh); }

// 02
.calc_02vw {
  width: calc(100% - .2vw);
  height: calc(100% - .2vw); }

.calc_02vh {
  width: calc(100% - .2vh);
  height: calc(100% - .2vh); }

.calc_02vw_width {
  width: calc(100% - .2vw); }

.calc_02vw_height {
  height: calc(100% - .2vw); }

.calc_02vh_width {
  width: calc(100% - .2vh); }

.calc_02vh_height {
  height: calc(100% - .2vh); }

// 03
.calc_03vw {
  width: calc(100% - .3vw);
  height: calc(100% - .3vw); }

.calc_03vh {
  width: calc(100% - .3vh);
  height: calc(100% - .3vh); }

.calc_03vw_width {
  width: calc(100% - .3vw); }

.calc_03vw_height {
  height: calc(100% - .3vw); }

.calc_03vh_width {
  width: calc(100% - .3vh); }

.calc_03vh_height {
  height: calc(100% - .3vh); }

// 04
.calc_04vw {
  width: calc(100% - .4vw);
  height: calc(100% - .4vw); }

.calc_04vh {
  width: calc(100% - .4vh);
  height: calc(100% - .4vh); }

.calc_04vw_width {
  width: calc(100% - .4vw); }

.calc_04vw_height {
  height: calc(100% - .4vw); }

.calc_04vh_width {
  width: calc(100% - .4vh); }

.calc_04vh_height {
  height: calc(100% - .4vh); }

// 05
.calc_05vw {
  width: calc(100% - .5vw);
  height: calc(100% - .5vw); }

.calc_05vh {
  width: calc(100% - .5vh);
  height: calc(100% - .5vh); }

.calc_05vw_width {
  width: calc(100% - .5vw); }

.calc_05vw_height {
  height: calc(100% - .5vw); }

.calc_05vh_width {
  width: calc(100% - .5vh); }

.calc_05vh_height {
  height: calc(100% - .5vh); }

// 1
.calc_1vw {
  width: calc(100% - 1vw);
  height: calc(100% - 1vw); }

.calc_1vh {
  width: calc(100% - 1vh);
  height: calc(100% - 1vh); }

.calc_1vw_width {
  width: calc(100% - 1vw); }

.calc_1vw_height {
  height: calc(100% - 1vw); }

.calc_1vh_width {
  width: calc(100% - 1vh); }

.calc_1vh_height {
  height: calc(100% - 1vh); }

//2
.calc_2vw {
  width: calc(100% - 2vw);
  height: calc(100% - 2vw); }

.calc_2vh {
  width: calc(100% - 2vh);
  height: calc(100% - 2vh); }

.calc_2vw_width {
  width: calc(100% - 2vw); }

.calc_2vw_height {
  height: calc(100% - 2vw); }

.calc_2vh_width {
  width: calc(100% - 2vh); }

.calc_2vh_height {
  height: calc(100% - 2vh); }

// 2.5
.calc_205vw {
  width: calc(100% - 2.5vw);
  height: calc(100% - 2.5vw); }

.calc_205vh {
  width: calc(100% - 2.5vh);
  height: calc(100% - 2.5vh); }

.calc_205vw_width {
  width: calc(100% - 2.5vw); }

.calc_205vw_height {
  height: calc(100% - 2.5vw); }

.calc_205vh_width {
  width: calc(100% - 2.5vh); }

.calc_205vh_height {
  height: calc(100% - 2.5vh); }

//3
.calc_3vw {
  width: calc(100% - 3vw);
  height: calc(100% - 3vw); }

.calc_3vh {
  width: calc(100% - 3vh);
  height: calc(100% - 3vh); }

.calc_3vw_width {
  width: calc(100% - 3vw); }

.calc_3vw_height {
  height: calc(100% - 3vw); }

.calc_3vh_width {
  width: calc(100% - 3vh); }

.calc_3vh_height {
  height: calc(100% - 3vh); }

//4
.calc_4vw {
  width: calc(100% - 4vw);
  height: calc(100% - 4vw); }

.calc_4vh {
  width: calc(100% - 4vh);
  height: calc(100% - 4vh); }

.calc_4vw_width {
  width: calc(100% - 4vw); }

.calc_4vw_height {
  height: calc(100% - 4vw); }

.calc_4vh_width {
  width: calc(100% - 4vh); }

.calc_4vh_height {
  height: calc(100% - 4vh);
}

//5
.calc_5vw {
  width: calc(100% - 5vw);
  height: calc(100% - 5vw); }

.calc_5vh {
  width: calc(100% - 5vh);
  height: calc(100% - 5vh); }

.calc_5vw_width {
  width: calc(100% - 5vw); }

.calc_5vw_height {
  height: calc(100% - 5vw); }

.calc_5vh_width {
  width: calc(100% - 5vh); }

.calc_5vh_height {
  height: calc(100% - 5vh);
}

//6
.calc_6vw {
  width: calc(100% - 6vw);
  height: calc(100% - 6vw); }

.calc_6vh {
  width: calc(100% - 6vh);
  height: calc(100% - 6vh); }

.calc_6vw_width {
  width: calc(100% - 6vw); }

.calc_6vw_height {
  height: calc(100% - 6vw); }

.calc_6vh_width {
  width: calc(100% - 6vh); }

.calc_6vh_height {
  height: calc(100% - 6vh);
}

// 8
.calc_805vw {
  width: calc(100% - 8.5vw);
  height: calc(100% - 8.5vw); }

.calc_805vh {
  width: calc(100% - 8.5vh);
  height: calc(100% - 8.5vh); }

.calc_805vw_width {
  width: calc(100% - 8.5vw); }

.calc_805vw_height {
  height: calc(100% - 8.5vw); }

.calc_805vh_width {
  width: calc(100% - 8.5vh); }

.calc_805vh_height {
  height: calc(100% - 8.5vh); }

// 9
.calc_9vw {
  width: calc(100% - 9vw);
  height: calc(100% - 9vw); }

.calc_9vh {
  width: calc(100% - 9vh);
  height: calc(100% - 9vh); }

.calc_9vw_width {
  width: calc(100% - 9vw); }

.calc_9vw_height {
  height: calc(100% - 9vw); }

.calc_9vh_width {
  width: calc(100% - 9vh); }

.calc_9vh_height {
  height: calc(100% - 9vh); }


// 9
.calc_90375vw {
  width: calc(100% - 9.375vw);
  height: calc(100% - 9.375vw); }

.calc_90375vh {
  width: calc(100% - 9.375vh);
  height: calc(100% - 9.375vh); }

.calc_90375vw_width {
  width: calc(100% - 9.375vw); }

.calc_90375vw_height {
  height: calc(100% - 9.375vw); }

.calc_90375vh_width {
  width: calc(100% - 9.375vh); }

.calc_90375vh_height {
  height: calc(100% - 9.375vh); }


// 10
.calc_10vw {
  width: calc(100% - 10vw);
  height: calc(100% - 10vw); }

.calc_10vh {
  width: calc(100% - 10vh);
  height: calc(100% - 10vh); }

.calc_10vw_width {
  width: calc(100% - 10vw); }

.calc_10vw_height {
  height: calc(100% - 10vw); }

.calc_10vh_width {
  width: calc(100% - 10vh); }

.calc_10vh_height {
  height: calc(100% - 10vh); }

// 11
.calc_1105vw {
  width: calc(100% - 11.5vw);
  height: calc(100% - 11.5vw); }

.calc_1105vh {
  width: calc(100% - 11.5vh);
  height: calc(100% - 11.5vh); }

.calc_1105vw_width {
  width: calc(100% - 11.5vw); }

.calc_1105vw_height {
  height: calc(100% - 11.5vw); }

.calc_1105vh_width {
  width: calc(100% - 11.5vh); }

.calc_1105vh_height {
  height: calc(100% - 11.5vh); }

// 11
.calc_11vw {
  width: calc(100% - 11vw);
  height: calc(100% - 11vw); }

.calc_11vh {
  width: calc(100% - 11vh);
  height: calc(100% - 11vh); }

.calc_11vw_width {
  width: calc(100% - 11vw); }

.calc_11vw_height {
  height: calc(100% - 11vw); }

.calc_11vh_width {
  width: calc(100% - 11vh); }

.calc_11vh_height {
  height: calc(100% - 11vh); }

// 12
.calc_1205vw {
  width: calc(100% - 12.5vw);
  height: calc(100% - 12.5vw); }

.calc_1205vh {
  width: calc(100% - 12.5vh);
  height: calc(100% - 12.5vh); }

.calc_1205vw_width {
  width: calc(100% - 12.5vw); }

.calc_1205vw_height {
  height: calc(100% - 12.5vw); }

.calc_1205vh_width {
  width: calc(100% - 12.5vh); }

.calc_1205vh_height {
  height: calc(100% - 12.5vh); }

// 15
.calc_15vw {
  width: calc(100% - 15vw);
  height: calc(100% - 15vw); }

.calc_15vh {
  width: calc(100% - 15vh);
  height: calc(100% - 15vh); }

.calc_15vw_width {
  width: calc(100% - 15vw); }

.calc_15vw_height {
  height: calc(100% - 15vw); }

.calc_15vh_width {
  width: calc(100% - 15vh); }

.calc_15vh_height {
  height: calc(100% - 15vh); }

// 20
.calc_20vw {
  width: calc(100% - 20vw);
  height: calc(100% - 20vw); }

.calc_20vh {
  width: calc(100% - 20vh);
  height: calc(100% - 20vh); }

.calc_20vw_width {
  width: calc(100% - 20vw); }

.calc_20vw_height {
  height: calc(100% - 20vw); }

.calc_20vh_width {
  width: calc(100% - 20vh); }

.calc_20vh_height {
  height: calc(100% - 20vh); }


// 25
.calc_25vw {
  width: calc(100% - 25vw);
  height: calc(100% - 25vw); }

.calc_25vh {
  width: calc(100% - 25vh);
  height: calc(100% - 25vh); }

.calc_25vw_width {
  width: calc(100% - 25vw); }

.calc_25vw_height {
  height: calc(100% - 25vw); }

.calc_25vh_width {
  width: calc(100% - 25vh); }

.calc_25vh_width_100_vw {
  width: calc(100vw - 25vh); }

.calc_25vh_height {
  height: calc(100% - 25vh); }

.calc_25vh_height_100_vw {
  height: calc(100vw - 25vh); }

// 30
.calc_30vw {
  width: calc(100% - 30vw);
  height: calc(100% - 30vw); }

.calc_30vh {
  width: calc(100% - 30vh);
  height: calc(100% - 30vh); }

.calc_30vw_width {
  width: calc(100% - 30vw); }

.calc_30vw_height {
  height: calc(100% - 30vw); }

.calc_30vh_width {
  width: calc(100% - 30vh); }

.calc_30vh_height {
  height: calc(100% - 30vh); }

// 33
.calc_33vw {
  width: calc(100% - 33vw);
  height: calc(100% - 33vw); }

.calc_33vh {
  width: calc(100% - 33vh);
  height: calc(100% - 33vh); }

.calc_33vw_width {
  width: calc(100% - 33vw); }

.calc_33vw_height {
  height: calc(100% - 33vw); }

.calc_33vh_width {
  width: calc(100% - 33vh); }

.calc_33vh_width_100_vw {
  width: calc(100vw - 33vh); }

.calc_33vh_height {
  height: calc(100% - 33vh); }

.calc_33vh_height_100_vw {
  height: calc(100vw - 33vh); }

.calc_40vw {
  width: calc(100% - 40vw);
  height: calc(100% - 40vw); }

.calc_40vh {
  width: calc(100% - 40vh);
  height: calc(100% - 40vh); }

.calc_40vw_width {
  width: calc(100% - 40vw); }

.calc_40vw_height {
  height: calc(100% - 40vw); }

.calc_40vh_width {
  width: calc(100% - 40vh); }

.calc_40vh_height {
  height: calc(100% - 40vh); }


.calc_50vw {
  width: calc(100% - 50vw);
  height: calc(100% - 50vw); }

.calc_50vh {
  width: calc(100% - 50vh);
  height: calc(100% - 50vh); }

.calc_50vw_width {
  width: calc(100% - 50vw); }

.calc_50vw_height {
  height: calc(100% - 50vw); }

.calc_50vh_width {
  width: calc(100% - 50vh); }

.calc_50vh_height {
  height: calc(100% - 50vh); }

.calc_75vw {
  width: calc(100% - 75vw);
  height: calc(100% - 75vw); }

.calc_75vh {
  width: calc(100% - 75vh);
  height: calc(100% - 75vh); }

.calc_75vw_width {
  width: calc(100% - 75vw); }

.calc_75vw_height {
  height: calc(100% - 75vw); }

.calc_75vh_width {
  width: calc(100% - 75vh); }

.calc_75vh_height {
  height: calc(100% - 75vh); }


// 87
.calc_8705vw {
  width: calc(100% - 87.5vw);
  height: calc(100% - 87.5vw); }

.calc_8705vh {
  width: calc(100% - 87.5vh);
  height: calc(100% - 87.5vh); }

.calc_8705vw_width {
  width: calc(100% - 87.5vw); }

.calc_8705vw_height {
  height: calc(100% - 87.5vw); }

.calc_8705vh_width {
  width: calc(100% - 87.5vh); }

.calc_8705vh_height {
  height: calc(100% - 87.5vh); }
