$white: #ffffff;
$black: #000000;
$grey: #2c2c2c;

$pink: #ff6188;
$light_pink_1: #fdf0f2;
$light_pink_2: #fbdee3;
$light_pink_3: #facfd6;
$light_pink_4: #f8bfc7;
$light_pink_5: #f6aebc;
$light_pink_6: #f59fae;
$light_pink_7: #f390a4;
$light_pink_8: #f28199;
$light_pink_9: #ef718f;
$dark_pink_1: #dd6884;
$dark_pink_2: #cb6c82;
$dark_pink_3: #b66c7e;
$dark_pink_4: #a36b78;
$dark_pink_5: #906671;
$dark_pink_6: #80626a;
$dark_pink_7: #6c5a5f;
$dark_pink_8: #584c4f;
$dark_pink_9: #3a3639;

$blue: #78dce8;
$green: #2ed270;
$purple: #ab9df2;
$orange: #fc9867;

$yellow: #ffd866;
$light_yellow_1: #fffaf2;
$light_yellow_2: #fdf7e0;
$light_yellow_3: #fff5d0;
$light_yellow_4: #fff0c2;
$light_yellow_5: #fdebb0;
$light_yellow_6: #fbe7a0;
$light_yellow_7: #fbe391;
$light_yellow_8: #fcde82;
$light_yellow_9: #fcdb77;
$dark_yellow_1: #e6c86b;
$dark_yellow_2: #d3b96f;
$dark_yellow_3: #beab72;
$dark_yellow_4: #a89a6f;
$dark_yellow_5: #93896a;
$dark_yellow_6: #817a64;
$dark_yellow_7: #6f6a5b;
$dark_yellow_8: #58554f;
$dark_yellow_9: #3a3a38;