
.gui_icon_set_1 {
    background: url("./assets/gui/gui_icon_set_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_icon_set_2 {
    background: url("./assets/gui/gui_icon_set_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_icon_set_3 {
    background: url("./assets/gui/gui_icon_set_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_icon_hearts {
    background: url("./assets/gui/gui_icon_hearts.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_icon_hearts_dark {
    background: url("./assets/gui/gui_icon_hearts_dark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_arrow_left {
    background: url("./assets/gui/gui_arrow_left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_arrow_left_dark {
    background: url("./assets/gui/gui_arrow_left_dark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_arrow_right {
    background: url("./assets/gui/gui_arrow_right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_arrow_right_dark {
    background: url("./assets/gui/gui_arrow_right_dark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_character_face_left_blink_1 {
    background: url("./assets/gui/gui_character_face_left_blink_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_character_face_left_blink_2 {
    background: url("./assets/gui/gui_character_face_left_blink_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_character_face_left_blink_3 {
    background: url("./assets/gui/gui_character_face_left_blink_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_character_face_left_blink_4 {
    background: url("./assets/gui/gui_character_face_left_blink_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_character_face_left_blink_5 {
    background: url("./assets/gui/gui_character_face_left_blink_5.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_character_face_left_blink_6 {
    background: url("./assets/gui/gui_character_face_left_blink_6.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_home {
    background: url("./assets/gui/gui_text_home.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_continue {
    background: url("./assets/gui/gui_text_continue.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_loaded {
    background: url("./assets/gui/gui_text_loaded.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
.gui_text_loaded_1 {
    background: url("./assets/gui/gui_text_loaded_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_loaded_2 {
    background: url("./assets/gui/gui_text_loaded_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_loaded_3 {
    background: url("./assets/gui/gui_text_loaded_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_loaded_4 {
    background: url("./assets/gui/gui_text_loaded_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_loading {
    background: url("./assets/gui/gui_text_loading.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_loading_1 {
    background: url("./assets/gui/gui_text_loading_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_loading_2 {
    background: url("./assets/gui/gui_text_loading_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_loading_3 {
    background: url("./assets/gui/gui_text_loading_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_text_loading_4 {
    background: url("./assets/gui/gui_text_loading_4.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_logo_type {
    background: url("./assets/gui/logo/type/gui_logo_type.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_logo_type_1 {
    background: url("./assets/gui/logo/type/gui_logo_type_1.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_logo_type_2 {
    background: url("./assets/gui/logo/type/gui_logo_type_2.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_logo_type_3 {
    background: url("./assets/gui/logo/type/gui_logo_type_3.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_logo_type_4 {
    background: url("./assets/gui/logo/type/gui_logo_type_4.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_stage_tv_1 {
    background: url("./assets/gui/gui_stage_tv_1.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_stage_tv_2 {
    background: url("./assets/gui/gui_stage_tv_2.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_stage_tv_3 {
    background: url("./assets/gui/gui_stage_tv_3.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_stage_tv_4 {
    background: url("./assets/gui/gui_stage_tv_4.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_buttons_1 {
    background: url("./assets/gui/gui_buttons_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_buttons_2 {
    background: url("./assets/gui/gui_buttons_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.gui_buttons_3 {
    background: url("./assets/gui/gui_buttons_3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_buttons_start {
    background: url("./assets/gui/gui_buttons_start.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_buttons_or {
    background: url("./assets/gui/gui_buttons_or.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_buttons_learn {
    background: url("./assets/gui/gui_buttons_learn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_character_face_left {
    background: url("./assets/gui/gui_character_face_left.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_wall_1 {
    background: url("./assets/gui/logo/mark/gui_wall_1.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.gui_wall_2 {
    background: url("./assets/gui/logo/mark/gui_wall_2.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.gui_wall_3 {
    background: url("./assets/gui/logo/mark/gui_wall_3.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.gui_wall_4 {
    background: url("./assets/gui/logo/mark/gui_wall_4.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.gui_wall_5 {
    background: #ffffff;
}

.gui_character_face_vomit_left_shadow_1 {
    background: url("./assets/gui/logo/mark/gui_character_face_vomit_left_shadow_1.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_face_vomit_left_shadow_2 {
    background: url("./assets/gui/logo/mark/gui_character_face_vomit_left_shadow_2.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_face_vomit_left_shadow_3 {
    background: url("./assets/gui/logo/mark/gui_character_face_vomit_left_shadow_3.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_face_vomit_left_shadow_4 {
    background: url("./assets/gui/logo/mark/gui_character_face_vomit_left_shadow_4.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_face_vomit_left_shadow_5 {
    background: url("./assets/gui/logo/mark/gui_character_face_vomit_left_shadow_5.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_face_vomit_left_shadow_6 {
    background: url("./assets/gui/logo/mark/gui_character_face_vomit_left_shadow_6.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_face_left_shadow {
    background: url("./assets/gui/logo/mark/gui_character_face_left_shadow.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_face_left_shadow_1 {
    background: url("./assets/gui/logo/mark/gui_character_face_left_shadow_1.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_face_left_shadow_2 {
    background: url("./assets/gui/logo/mark/gui_character_face_left_shadow_2.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_face_left_shadow_3 {
    background: url("./assets/gui/logo/mark/gui_character_face_left_shadow_3.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_face_left_shadow_4 {
    background: url("./assets/gui/logo/mark/gui_character_face_left_shadow_4.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_interaction_text_help {
    background: url("./assets/gui/gui_interaction_text_help.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_interaction_text_for_more {
    background: url("./assets/gui/gui_interaction_text_for_more.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_interaction_text_press {
    background: url("./assets/gui/gui_interaction_text_press.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_settings_white {
    background: url("./assets/gui/gui_link_settings_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_add_white {
    background: url("./assets/gui/gui_link_add_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_menu_white {
    background: url("./assets/gui/gui_link_menu_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_grid_white {
    background: url("./assets/gui/gui_link_grid_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_link_sign_in_white {
    background: url("./assets/gui/gui_link_sign_in_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gui_stage_tv {
    background: url("./assets/gui/gui_stage_tv_1.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_stage_lights {
    background: url("./assets/gui/gui_stage_lights.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.gui_character_body_right_8 {
    background: url("./assets/gui/gui_character_body_right_8.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_body_right_7 {
    background: url("./assets/gui/gui_character_body_right_7.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_body_right_6 {
    background: url("./assets/gui/gui_character_body_right_6.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_body_right_5 {
    background: url("./assets/gui/gui_character_body_right_5.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_body_right_4 {
    background: url("./assets/gui/gui_character_body_right_4.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_body_right_3 {
    background: url("./assets/gui/gui_character_body_right_3.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_body_right_2 {
    background: url("./assets/gui/gui_character_body_right_2.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.gui_character_body_right_1 {
    background: url("./assets/gui/gui_character_body_right_1.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}